.page {
	width: 85%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	background-color: #212121;
}

.photoArray {
	padding: 150px 0 0 0;
	margin: auto;
	list-style: none;
	display: grid;
	grid-gap: 20px 15px;
	text-decoration: none;
	list-style: none;
	justify-content: center;
	grid-template-rows: repeat(4, 140px);
	grid-template-columns: repeat(4, 200px);
}

.gridShape {
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}

.gridItemOne {
	color: white;
	text-align: center;
	background-image: url('images/Alaska.jpg');
	background-position: center;
}

.gridItemTwo {
	color: white;
	text-align: center;
	background-image: url('images/Xena.jpg');
	background-position-y: 25%;
}
.gridItemThree {
	color: white;
	text-align: center;
	grid-column: 3 / 5;
	grid-row: 1 / 2;
	background-image: url('images/ThreeHuskies.jpg');
	background-position: 15% 45%;
}
.gridItemFour {
	color: white;
	text-align: center;
	grid-column: 1 / 2;
	grid-row: 2 / 4;
	background-image: url('images/Husky.jpg');
}
.gridItemFive {
	color: white;
	text-align: center;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	background-image: url('images/CollieKarma.jpg');
	background-position: 15% 65%;
}
.gridItemSix {
	color: white;
	text-align: center;
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	background-image: url('images/HuskyFace.jpg');
}
.gridItemSeven {
	color: white;
	text-align: center;
	background-image: url('images/Gandalf.jpg');
	background-position-y: 65%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
}
.gridItemEight {
	color: white;
	text-align: center;
	grid-column: 2 / 3;
	grid-row: 3 / 5;
	background-image: url('images/Helicopter.jpg');
}
.gridItemNine {
	color: white;
	text-align: center;
	grid-column: 3 / 5;
	grid-row: 3 / 4;
	background-image: url('images/DogEyes.jpg');
	background-position: 25% 70%;
}
.gridItemTen {
	color: white;
	text-align: center;
	background-image: url('images/KathyVert.jpg');
	background-position: center;
}

.gridItemEleven {
	color: white;
	text-align: center;
	background-image: url('images/Noodle.jpg');
	background-position-y: 35%;
}

.gridItemTwelve {
	color: white;
	text-align: center;
	background-image: url('images/Owlivia.jpg');
	background-position-y: 40%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
}

@media screen and (max-width: 1200px) {
	.photoArray {
		grid-template-rows: repeat(4, 140px);
		grid-template-columns: repeat(3, 200px);
	}
	.gridItemThree {
		grid-column: 2 / 4;
	}
	.gridItemTwo {
		display: none;
	}
	.gridItemEleven {
		display: none;
	}
	.gridItemTwelve {
		display: none;
	}
	.gridItemEight {
		display: none;
	}
	.gridItemSeven {
		display: none;
	}
	.gridItemNine {
		grid-row: 3 / 4;
		grid-column: 2 / 4;
	}
	.gridItemTen {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.photoArray {
		grid-template-rows: repeat(4, 140px);
		grid-template-columns: repeat(2, 200px);
	}

	.gridItemEleven {
		display: none;
	}
	.gridItemTwelve {
		display: none;
	}
	.gridItemEight {
		display: none;
	}
	.gridItemTwo {
		display: none;
	}
	.gridItemSeven {
		grid-row: 1 / 2;
	}
	.gridItemTen {
		display: none;
	}
	.gridItemSix {
		display: block;
		grid-row: 3 / 4;
		grid-column: 2 / 3;
	}
	.gridItemNine {
		display: none;
	}
	.gridItemThree {
		display: none;
	}
	.gridItemTwelve {
		display: block;
		grid-row: 1 / 2;
		grid-column: 2 / 3;
	}
}
@media screen and (max-width: 800px) {
	.photoArray {
		grid-template-rows: repeat(4, 70px);
		grid-template-columns: repeat(3, 100px);
	}